*{ /*estilos generales*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c6937f;
}

/*----------FUENTES-----------------*/
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}  


.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/*-------------------------------*/

body {

    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
    height: 100vh;
    display: flex;
}

/*-------------------------------*/

/*.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
    top: 0;
    left: 0;
}*/

/*-------------------------------*/

/*------------HEADER------------------*/
.header {
    background-color: #72252b;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo {
    float: left;
    line-height: 90px;
    background-color: #72252b;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    background-color: #72252b;
}

.logo img{
    width: 100%;
    height: 90%;
    float: left;
    margin-top: 25px;
    background-color: #72252b;
}

/*.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
    font-family: "Anton", serif;
    letter-spacing: 1px;
    cursor: default;
}*/


.container .menu {
    float: right;
    line-height: 100px;
    background-color: #72252b;
}

.container .menu a {

    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 5px solid transparent;
    font-size: 15px;
    margin-right: 5px;
    font-family: "Quicksand", serif;
    letter-spacing: 2px;
    background-color: #72252b;
}

.menu button{

    border-radius: 10px;
    background-color: #72252b;
    box-sizing: 30px;
    text-align: center;
    align-items: center;

}

.container .menu a:hover {

    border-bottom: 3px solid #c6937f;
    padding-bottom: 5px;
    color: #c6937f;

}

/*------MAIN-----------*/

main { /*main en general*/
    margin-top: 115px;
    align-items: center;
}

#Titulo{

    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Anton', serif;
    letter-spacing: 2px;

}

.foto_index{ /*img dentro del section*/

    align-content: center;
    height: auto;
    width: auto;

}

main aside { /*img dentro del aside*/
    
    width: 300px;
    float: right;
    width: auto;
    height: auto;

}
/*----------------------------------------------------*/
/*----------------MENU LATERAL-----------------------*/

#btn-menu{
    display: none;
    background-color:#72252b;
}


.container-menu{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #72252b;
    height: 100vh;
    position: relative;
    transition: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    background-color: #72252b;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-bottom: 2px solid transparent;
    transition: all 400ms ease;
    font-family: "Quicksand", serif;
    letter-spacing: 1px;
}

.cont-menu nav a:hover {
    border-bottom: 2px solid #c6937f;
    background: rgba(0, 0, 0, 0.2);
    color: #c6937f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*------------------------------------------------*/