/*----------FUENTES-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}  


.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/*-------------------------------*/

body {
    
    margin-top: 10%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

/*-------------------------------*/

/*------------HEADER------------------*/
.header {
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 3px rgba(92, 92, 92, 0.5);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo {
    float: left;
    line-height: 100px;
    
    margin-right: 10px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    
}

.logo img{
    width: 100%;
    height: 90%;
    float: left;
    margin-top: 25px;
    
}

.container .menu {
    float: right;
    line-height: 100px;
    
}

.container .menu a{
    font-size: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

}

.menu button{

    border-radius: 10px;
    box-sizing: 30px;
    text-align: center;
    align-items: center;

}

.container .menu a:hover {

    border-bottom: 3px solid #c6937f;
    padding-bottom: 5px;
    color: #c6937f;

}

/*------MAIN-----------*/

.contbuscar{   /*BOTON DE BUSCAR*/
    position: absolute;
    padding: 5px;
    z-index: 1;
    margin-top: 25px;
    margin-left: 40%;
}

.contbuscar input{
    width: 0px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 2px solid white;
    border-radius: 30px;
    transition: all 0.6s ease;
    position: relative;
    
}

.boton-buscar button{

    position: absolute;
    top: 0;
    right: 0;
    background: #c6937f;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.contbuscar:hover input{
    width: 240px;
}

.contbuscar input:focus{
    width: 240px;
}

.contmain{ /*TARJETAS*/

    z-index: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 768px) {
    .header{
        margin-bottom: 30%;
        padding-bottom: 10%;
    }

    .contmain{
        margin-top: 60px;
    }
}

.card { 
  
    width: 300px;
    height: 300px;
    border-radius: 2%;
    margin: 20px;
    perspective: 600px; /* Perspectiva para el efecto 3D */
    box-shadow:10px 8px 14px #3434348c ;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-bottom: 5%;

}

.card::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#a8966e 20deg, transparent 120deg);
    animation: rotar 4s linear infinite;
}

@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.card::after{
    content: "";
    position: absolute;
    height: 290px;
    width: 290px;
    border-radius: 10%;
    background-color: black;
    z-index: 0;

}

.card .face {
    z-index: 1;
    position: absolute;
    width: 97%;
    height: 97%;
    backface-visibility: hidden; /* Oculta la cara trasera inicialmente */
    border-radius: 2%;
    overflow: hidden;
    transition: 0.4s; /* Transición suave */

}

.card .front {
    transform: rotateY(0deg); /* Cara delantera visible al inicio */
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {

    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 200; /*LETRAS DELGADAS*/
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    cursor: default;
}

.card .back {

    transform: rotateY(180deg); /* Cara trasera oculta al inicio */
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    cursor: pointer;
    z-index: 1;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-family: "Anton", serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-family: "Quicksand", serif;
    font-weight: 200;
}

/* Efecto de giro al hacer hover */
.card:hover .front {
    transform: rotateY(180deg); /* Gira la cara delantera */
}

.card:hover .back {
    transform: rotateY(0deg); /* Gira la cara trasera */
}

#img-index{ /*IMAGENES ENLACES*/
    position: relative;
    width: 99.8%;
    height: auto;
    padding: 3px;
    max-width:738px;
    transition: all 0.3s ease;
    
}

#img-index:hover{
    transform: scale(0.8);
}

.caja-sus{ /*CAJA DE SUSCRIPCIONES*/

    height: 200px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;

}
.caja-sus-texto{

    max-width: 50%;
    padding-left: 40px;
    margin-right: 25%;
}

.caja-sus-texto h2{

    font-family: 'Anton', serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.caja-sus-texto p{

    font-family: 'Quicksand', serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: #818181;
    font-size: 15px;
    margin: 5px 0;
}

.form-email{

    display: flex;
    align-items: center;
    margin-right: 10%;
    
}

.form-email #email-box{

    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px 0 0 5px;
}

.form-email #email-boton{

    background: #c6937f;
    width: 60px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 10px;
    border-radius: 0 5px 5px 0;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

/* Media query para pantallas de móviles (menos de 768px) */
@media screen and (max-width: 768px) {
    .caja-sus {
        height: auto;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .caja-sus-texto {
        padding: 0px;
        max-width: 100%;
        margin-right: 0; /* Eliminamos el margen derecho en móviles */
        margin-bottom: 30px; /* Margen entre el texto y el formulario */
    }

    .caja-sus-texto h2 {
        font-size: 20px;
    }

    .caja-sus-texto p {
        font-size: 14px;
    }

    .form-email {
        width: 100%;
        justify-content: center;
        margin-right: 1%;
    }

    .form-email #email-box {
        width: 70%;
        max-width: 300px;
    }
}

/*-----------------FOOTER--------------------*/

.pie-pagina{
    
    width: 100%;
    background-color: #000;
    position: relative;
}

.pie-pagina .grupo-1{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0;
}

.pie-pagina .grupo-1 .box figure{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{

    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    font-family: 'Anton', serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box p{

    font-family: 'Quicksand', serif;
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
}

.pie-pagina .grupo-1 .red-social{
    
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.pie-pagina .grupo-1 .red-social a{

    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #2e2929;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{

    color: #c6937f;
}

.pie-pagina .grupo-2{

    background-color: #252525;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    width: 100%;
}

/* Media query para pantallas de móviles (menos de 768px) */
@media screen and (max-width: 768px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr; /* Una sola columna en móviles */
        grid-gap: 20px; /* Reducimos el espacio entre las cajas */
        padding: 20px; /* Añadimos padding para mejor espaciado */
    }

    .pie-pagina .grupo-1 .box {
        text-align: center; /* Centramos el contenido en móviles */
    }

    .pie-pagina .grupo-1 .box:nth-child(1) {
        order: 1; /* Logo primero */
    }

    .pie-pagina .grupo-1 .box:nth-child(2) {
        order: 2; /* Contacto segundo */
    }

    .pie-pagina .grupo-1 .box:nth-child(3) {
        order: 3; /* Redes sociales tercero */
    }

    .pie-pagina .grupo-1 .red-social {
        justify-content: center; /* Centramos las redes sociales en móviles */
    }
}

/*----------------MENU LATERAL-----------------------*/

#btn-menu{
    display: none;
    background-color:black;
}

.container-menu{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: black;
    height: 100vh;
    position: relative;
    transition: translateX(-100%);
}

.cont-menu {
    overflow-y: auto; /* Añade desplazamiento vertical */
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    background-color: black;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-bottom: 2px solid transparent;
    transition: all 400ms ease;
    font-family: "Quicksand", serif;
    letter-spacing: 1px;
}

.cont-menu nav a:hover {
    border-bottom: 2px solid #c6937f;
    background: rgba(0, 0, 0, 0.2);
    color: #c6937f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.icon-equis{
    background-color: black;
}

/*------------------------------------------------*/

/*-------ESTILOS PARA SECCION SOBRE NOSOTROS--------*/

.cont-sn{

    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.cont-img-sn{

    flex: 1;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5%;
}

.cont-img-sn img{

    width: 100%;
    height: auto;
    border-radius: 1%;
    box-shadow: 10px 8px 10px #300f12;
}

.cont-txt-sn{

    flex: 1;
    text-align: center;
    min-width: 300px;
    padding: 10px;

}

.cont-txt-sn h2{

    font-family: 'Anton', serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 5px #72252b;
    color: whitesmoke;

}

.cont-txt-sn p{

    font-family: 'Quicksand', serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: gray;
    margin: 15px 0;
}

/* Media query para móviles */
@media screen and (max-width: 768px) {
    .cont-sn {
        flex-direction: row; /* Mantiene los elementos en línea */
        padding: 10px; /* Reducimos el padding */
    }

    .cont-img-sn,
    .cont-txt-sn {
        min-width: 100%; /* Ocupa todo el ancho en móviles */
    }

    .cont-txt-sn h2 {
        font-size: 30px; /* Reducimos el tamaño del título en móviles */
    }

    .cont-txt-sn p {
        font-size: 16px; /* Reducimos el tamaño del texto en móviles */
        margin: 10px 0; /* Ajustamos el margen */
    }
}
 
/*ESTILOS PARA LA SECCION DE CONTACTO*/

.form-container {

    background: linear-gradient(#b1b1b1, #000000);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #2a2a2a;
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    font-family: 'Anton', serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-container label {
    font-family: 'Quicksand', serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
}

.form-group input[type="text"],
#correo,
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    font-size: 16px;
}

.contact-options {
    display: flex;
    gap: 10px;
}

#boton-form {
    width: 100%;
    padding: 10px;
    background-color: #c6937f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#boton-form:hover {
    background-color: #795a4d;
}

@media (max-width: 480px) {
    .form-container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 14px;
    padding: 8px;
    }
    }

/*ESTILOS PARA LA SECCION DE FAQ*/

.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    
}

.contenedor-acordeon h2{

    text-align: center;
    font-family: 'Anton', serif;
    font-size: 40px;
    font-weight: 100;
    text-shadow: 6px 6px 8px #4d181d;
    letter-spacing: 3px;
    margin-bottom: 35px;
    color: white;
}

.acordeon{
    background: white;
}

.acordeon label{
    font-family: 'Quicksand', serif;
    font-weight: 300;
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover{
    background: #2e2e2e;
}

.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
    
}

.acordeon .contenido-acordeon p {
    font-family: 'Quicksand', serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
}

.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}

.btn-acordeon{
    display: none;
}

@media screen and (max-width:900px){
    .contenedor-acordeon{
        width: 90%;
    }
}

/*-------ESTILOS PARA LA SECCIÓN DE PRODUCTOS--------*/

.productos {
    padding: 20px;
    text-align: center;
}

.titulo-productos {
    font-family: 'Anton', serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(114, 37, 43, 0.5);
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas en escritorio */
    gap: 20px; /* Espacio entre productos */
}

.producto {
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px); /* Efecto de levantar la tarjeta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
    border-radius: 2%;
}

.producto h3 {
    font-family: 'Quicksand', serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 15px 0 10px;
}

.producto .precio {
    font-family: 'Quicksand', serif;
    font-size: 18px;
    font-weight: 500;
    color: #72252b;
    margin: 10px 0;
}

.producto .btn-comprar {
    background-color: #c6937f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Quicksand', serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto .btn-comprar:hover {

    background-color: #5a1d22; /* Color más oscuro al hacer hover */
}



/* Media query para móviles */
@media screen and (max-width: 768px) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles */
    }

    .titulo-productos {
        font-size: 30px; /* Reducimos el tamaño del título en móviles */
    }

    .producto h3 {
        font-size: 18px; /* Reducimos el tamaño del nombre del producto */
    }

    .producto .precio {
        font-size: 16px; /* Reducimos el tamaño del precio */
    }

    .producto .btn-comprar {
        font-size: 14px; /* Reducimos el tamaño del botón */
    }
}

.contmain-error{
    text-align: center;
    color: whitesmoke;
}

.contmain-error h2{

    font-family: 'Anton', serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;

}

.contmain-error p{

    font-family: 'Quicksand', serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    color: gray;
    margin-bottom: 2%;
}


